
Apps/DCMRecognizePro/debug
Apps/DCMRecognizePro/Makefile
Apps/DCMRecognizePro/Makefile.Debug
Apps/DCMRecognizePro/Makefile.Release
Apps/DCMRecognizePro/DCMRecognizePro.pro.user
Bins/Debug/*.ilk
Bins/Debug/*.pdb
Bins/Debug/*.exp
Dlls/LibCore/jpeg/Debug
Dlls/LibCore/png/Debug
Dlls/LibDistortionCorrection/Debug
Dlls/LibTinyXML/Debug
Test/DCMDemo/DCMDemo.pro.user
Dlls/LibTinyXML/Release
Dlls/LibCore/zlib/Debug
Dlls/LibCore/Debug
Apps/DCMRecognizePro/.qmake.stash
.vs/
